table.problem{ 
    /*border: 1px solid black;*/
    padding-left:20px;
    padding-right:20px
}
td.formular {
    /*border: 1px solid black;*/
    vertical-align:top;
    text-align:right;
    padding-bottom:60px
}
td.num {
    /*border: 1px solid black;*/
    vertical-align:top;
    padding-right:20px
}
